* {
  box-sizing: border-box;
}
html, body {
  font-size: 10px;
  overflow: hidden;
  font-family: "Open Sans";
  background: white;
}
p1 {
  font-size: 2rem;
  text-align: right;
}
.container {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.block {
  display: inline-block;
  margin: 0;
  text-align: center;
  vertical-align: middle;
}
.block img {
  width: 250px;
}
.kp-logo {
  filter: none;
  display: inline-block;
  vertical-align: middle;
}
.kp-brand {
  font-size: 5rem;
  letter-spacing: .2em;
  width: 100%;
  font-weight: 500;
}
.kp-slogan {
  font-size: 2rem;
  letter-spacing: .2em;
  width: 100%;
}
.social-buttons {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background: rgba(0, 0, 0, .05);
  left: 0;
  height: 50px;
}
.social-buttons img {
  width: 30px;
}
.fa {
  text-align: center;
  text-decoration: none;
}
.gradient-text {
  background: linear-gradient(90deg, rgb(219, 40, 241), rgb(33, 167, 224), rgb(0, 166, 117));
  background-size: 500vw 500vh;
  -webkit-animation: Gradient 120s ease infinite;
  -moz-animation: Gradient 120s ease infinite;
  animation: Gradient 120s ease infinite;
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
}
@keyframes Gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
.float {
  animation: float 6s ease-in-out infinite;
}
@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-10px);
  }
  100% {
    transform: translatey(0px);
  }
}
.shadow {
  padding-bottom: 25px;
  background: url(http://media.kulturbanause.de/blog/2013/10/hovering-css/shadow.png) bottom no-repeat;
  background-size: 225px 22px;
  animation: dynamic-shadow 6s infinite ease-in-out;
}

@-webkit-keyframes dynamic-shadow {
  50% {
    background-size: 215px 18px;
  }
}

@-moz-keyframes dynamic-shadow {
  50% {
    background-size: 215px 18px;
  }
}

@keyframes dynamic-shadow {
  50% {
    background-size: 215px 18px;
  }
}
