<div class="page-tear">
  <img src={{ "/assets/img/QCC.png" }}>
</div>
<div class="qcc-amendment">
  <h3>Questions? Comments? Concerns?</h3>
  <p>Vivamus tincidunt porta tortor vel condimentum. Aenean aliquam lacus a metus fermentum pretium. Quisque mollis dolor sit amet tortor consequat, ac lacinia nisl auctor. Duis ex elit, posuere non lorem vel, dapibus dictum nibh. Nulla luctus ipsum a urna tristique tempus. Fusce rhoncus magna vitae nisl congue molestie. Aliquam non odio euismod, dapibus mauris at, euismod velit. Curabitur non gravida elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eleifend eu augue eget imperdiet</p>
</div>
