---
layout: default
---
<div class="wrapper-bg"></div>
<div class="wrapper-1000">
  <div class="post-sharebar">
    <p>share</p>
    <div class="button-container">
      <a class="post-share-button button-hover-float50"><img src={{ "/assets/img/fb-logo.png" }}></a>
      <a class="post-share-button button-hover-float50"><img src={{ "/assets/img/t-logo.png" }}></a>
      <a class="post-share-button button-hover-float50"><img src={{ "/assets/img/r-logo.png" }}></a>
    </div>
  </div>
  <div class="wrapper-800">
    <div class="wrapper-post">
      <h1>{{ page.title }}</h1>
      <h4 class="post-by-line">{{ page.author }} | {{ page.date | date: "%b %d, %Y" }}</h4>
      <img class="post-feat-img" src="{{ page.feat-img }}">

      <p class="post-abstract">{{ page.abstract}}</p><br>
      <p>{{ content }}</p>
      {% include qcc.html %}
    </div>
  </div>
  <div class="bottom-nav-container">
    <a class="post-bot-button button-hover-float30"><img src={{ "/assets/img/UP.png" }}></a>
  </div>
</div>
