*,
html,
body,
ul,
ol
  margin: 0
  padding: 0
  list-style: none
  text-decoration: none

body,
h1,
h2,
h3,
h4,
h5,
h6,
p
  background: none
  font-family: "Arial"

a
  color: inherit
  text-decoration: inherit

.wrapper-bg
  position: fixed
  height: 100%
  width: 100%
  background: #f5f5f5
  top: 0
  left: 0
  z-index: -100

.wrapper-1200
  max-width: 1200px
  margin: 0 auto

.wrapper-1000
  max-width: 1000px
  margin: 0 auto 0 auto

.wrapper-800
  max-width: 800px
  margin: 0 auto

.footer
  position: relative
  height: 70px
  background: #ffffff
  margin: 50px 0 0 0
  text-align: center
  line-height: 70px

.foot-color-bar
  position: absolute
  width: 100%
  height: 5px
  bottom: 100%
  left: 0
  background: linear-gradient(90deg, rgb(219, 40, 241), rgb(33, 167, 224), rgb(0, 166, 117))
  background-size: 500vw 500vh
  animation: Gradient 120s ease infinite

.button-hover-float
  transition: 					all 1.5s ease
  -o-transition: 				all 1.5s ease
  -ms-transition: 			all 1.5s ease
  -moz-transition: 			all 1.5s ease
  -webkit-transition: 	all 1.5s ease
  color: white
  &::before,
  &::after
    content: ''
    width: 40px
    height: 10px
    margin-left: -20px
    background: rgba(0, 0, 0, 0.25)
    border-radius: 50%
    position: absolute
    bottom: -15px
    left: 50%
    visibility: hidden
    opacity: 0
    transition: 					all 1.5s ease
    -o-transition: 				all 1.5s ease
    -ms-transition: 			all 1.5s ease
    -moz-transition: 			all 1.5s ease
    -webkit-transition: 	all 1.5s ease
    margin-top: 20px

  &:hover
    transform: 						translateY(-10px)
    -o-transform: 				translateY(-10px)
    -ms-transform: 				translateY(-10px)
    -moz-transform: 			translateY(-10px)
    -webkit-transform: 		translateY(-10px)
    color: black

    &::before,
    &::after
      transform: 					translateY(10px)
      -o-transform: 			translateY(10px)
      -ms-transform: 			translateY(10px)
      -moz-transform: 		translateY(10px)
      -webkit-transform: 	translateY(10px)
      visibility: visible
      opacity: .5
    & .post-img-container
      background: white
    & img
      opacity: .2
