nav
  padding: 20px
  list-style: none

nav a
  position: relative
  padding: 20px
  color: #ffffff
  text-decoration: none
  font-weight: bold
  filter: opacity(0.5)

nav a:hover
  color: transparent
  filter: none

.current
  background: linear-gradient(90deg, rgb(219, 40, 241), rgb(33, 167, 224), rgb(0, 166, 117))
  background-size: 500vw 500vh
  -webkit-animation: Gradient 120s ease infinite
  -moz-animation: Gradient 120s ease infinite
  animation: Gradient 120s ease infinite
  color: transparent
  -moz-background-clip: text
  -webkit-background-clip: text
  filter: none

.nav-container-0
  position: fixed
  top: 0
  left: 0
  width: 100%
  z-index: 100

.nav-container-1
  width: 100%
  height: 100%
  z-index: 1 //important
  background: #FFFFFF

.post-nav-container-0
  position: fixed
  top: 0
  left: 0
  width: 100%
  z-index: 100
  height: 50vh
  object-fit: cover

.post-nav-container-1
  width: 100%
  height: 100%
  z-index: 1 //important
  background: white

.post-nav-img
  max-width: 100vw
  width: 100vw

.post-nav
  position: relative
  color: white
  height: 100%
  bottom: 0
  left: 0

.post-nav-title
  position: absolute
  bottom: 0
  left: 0
  background: rgba(0, 0, 0, .3)
  padding: 1rem

.block
  position: relative//important
  width: 100%
  height: 100%
  background: #000000

.block::before, .block::after
  content: ''
  position: absolute//important
  top: 0px
  left: 0px
  background: linear-gradient(90deg, rgb(219, 40, 241), rgb(33, 167, 224), rgb(0, 166, 117))
  background-size: 500vw 500vh
  width: 100%
  height: 100%
  z-index: -1//important
  animation: Gradient 120s ease infinite
  &::after
  filter: blur(10px)
