h1
  font-size: 50px
  text-transform: capitalize
  font-weight: 700
  line-height: 50px

h2
  font-size: 48px

h3
  font-size: 36px
  font-weight: 400
  line-height: 50px

h4
  font-size: 24px
  font-weight: 400
  line-height: 50px

p
  font-size: 30px
  line-height: 40px

.wrapper-post
  max-width: 100%
  margin: -190px  auto -50px auto
  padding: 50px 50px 50px 50px
  background: #ffffff
  border-radius: 50px

.post-abstract
  padding: 0 0 0 0

.post-feat-img
  max-width: 700px
  max-height: 100vh
  border-radius: 40px
  margin: 25px 0 25px 0

.page-tear
  margin: 0px 0 -98px 0

  img
    width: 802px
    transform: translateX(-52px)

.post-by-line
  color: #999999

.post-sharebar
  position: sticky
  top: 0
  height: 190px
  width: 70px
  border-radius: 35px
  background-color: #ffffff
  margin: 70px 0 0 0
  p
    text-transform: uppercase
    color: #ffffff
    font-size: 18px
    transform: translateY(-40px)
    font-weight: 800
  transform: translateY(40px)

.post-bottom-nav
  position: sticky
  display: block
  bottom: 25px
  height: 50px
  width: 50px
  border-radius: 35px
  background-color: #ffffff
  margin: auto 0 auto auto
  img
    height: 50px
    width: 50px

.post-share-button
  display: block
  height: 50px
  width: 50px
  margin: 10px 10px 0 10px
  transform: translateY(-40px)

.qcc-amendment
  h3
    font-weight: 800
