.wrapper-post
  max-width: 100%
  margin: 50px  0 50px 0
  padding: 50px 50px 50px 50px
  background: #ffffff
  border-radius: 50px

.post-title

.post-intro
  padding: 50px 0 50px 0

.post-feat-img
  width: 800px
  transform: translateX(-50px)
